<main class="container mt-5">
    <h1 class="mb-4">Login</h1>
    <form class="car-login-form">
        <div class="mb-3">
            <label for="username-login" class="form-label">Username</label>
            <input
            type="text"
            class="form-control"
            id="username-login"
            placeholder="Enter your username"
            />
        </div>
        <div class="mb-3">
            <label for="password-login" class="form-label">Password</label>
            <input
            type="password"
            class="form-control"
            id="password-login"
            placeholder="Enter your password"
            />
        </div>
        <button type="submit" id="login" class="btn btn-primary">Login</button>
    </form>
    
</main>