<div class="container mt-5">
    <h2 class="mt-4">Create a Blog Post.</h2>
    <form class="new-car-post-form">
        <div class="mb-3">
            <label for="title-new-car-post" class="form-label">Title</label>
            <input
            type="text"
            class="form-control"
            id="title-new-car-post"
            placeholder="Enter a title for your post"
            />
        </div>
        <div class="mb-3">
            <label for="content-new-car-post" class="form-label">Content</label>
            <textarea
            class="form-control"
            id="content-new-car-post"
            rows="5"
            placeholder="Enter the content for your post"
            ></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Create Post</button>
        </div>
    </form>
</div>