<main class="container mt-5">
    <h1 class="mb-4">Sign Up</h1>
    <form id="signup-form" class="car-signup-form">
        <div class="mb-3">
            <label for="username-signup" class="form-label">Username</label>
            <input
            type="text"
            class="form-control"
            id="username-signup"
            placeholder="Enter a username"
            />
        </div>
        <div class="mb-3">
            <label for="email-signup" class="form-label">Email</label>
            <input type="email" class="form-control" id="email-signup" placeholder="Enter an email" />
        </div>
        <div class="mb-3">
            <label for="password-signup" class="form-label">Password</label>
            <input
            type="password"
            class="form-control"
            id="password-signup"
            placeholder="Enter a password"
            />
        </div>
        <button type="submit" id="signup" class="btn btn-primary">Sign Up</button>
    </form>
</main>